{% extends 'books/base.html' %}
{% block content %}

<div class="card p-4 shadow-sm">
    <h3>Issue Book: {{ book.title }}</h3>

    <form method="POST">
        {% csrf_token %}
        <label>Select Student</label>
        <select name="student" class="form-control mb-3">
            {% for student in students %}
                <option value="{{ student.id }}">{{ student.name }}</option>
            {% endfor %}
        </select>

        <button class="btn btn-success">Issue Book</button>
        <a href="{% url 'book_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock %}
